html{
  background-color: #B1C297;
}

body{
   text-align: center;
}

.intro{
  	border: 2px double #80675C; 
	padding: 3px;
     margin: 10px 10px 10px 10px;
	font-family: 'DM Serif Display', serif;
}

ol{
list-style-typ:none;
}
